@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #273545;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1c2a38;
  border-radius: 100vh;
  border: 3px solid #1c2a38;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a8ff5;
}

html {
  font-family: "Noto Sans KR", sans-serif;
}

.btn {
  @apply text-sm font-medium rounded-lg py-2 px-4;
}

.btn--primary {
  @apply bg-sky-500 text-white hover:bg-sky-400;
}

.btn--secondary {
  @apply bg-slate-100 text-slate-900;
}

@layer components {
  .sign-container {
    @apply max-w-sm flex justify-center mx-auto items-center;
    min-height: calc(100vh - 80px);
  }
}
